@font-face {
  font-family: Days One;
  src: url("days_one.ttf");
}

[data-bs-theme=dark] .lang-diff {
    background: #0d1117;
}

.lang-diff-rem {
  color: rgb(236, 89, 117);
}

.lang-diff-add {
  color: rgb(62, 175, 124);;
}

@media (min-width: 1600px) {
  .container {
    width: 100%;
  }
  .sidefilter {
    width: 18%;
  }
  .sidetoc {
    width: 18%;
  }
  .article.grid-right {
    margin-left: 19%;
  }
  .sideaffix {
    width: 11.5%;
  }
  .affix ul>li.active>a {
    white-space: initial;
  }
  .affix ul>li>a {
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}